body {
  background: black;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(200, 244, 244);

}

nav {
  display: flex;
  gap: 24px;
 
}

nav, main {
  padding: 12px;
}

img {
  width: 100%;
}
